.item {
  display: flex;
  align-items: center;
  height: 36px;
  line-height: 36px;

  label {
    font-size: 1.1rem;
    display: flex;
    align-items: center;
  }

  .checkbox {
    width: 16px;
    height: 16px;
    margin-right: 8px;
  }

  .buttonWrapper {
    height: 80%;
    margin-left: auto;
    display: flex;
    gap: 8px;

    button {
      padding: 4px 8px;
    }
  }

  .modifyInput {
    width: 300px;
    padding: 4px;
  }
}
