.container {
  display: flex;
  flex-direction: column;
  padding: 0 16px 24px;

  h2 {
    text-align: center;
  }
}

.registerForm {
  width: 100%;
  display: flex;
  gap: 8px;

  input {
    flex: 1;
  }

  button {
    padding: 4px 8px;
  }
}
