.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 0 auto;

  width: 500px;
  padding: 0 16px 24px;
  border-radius: 6px;
  background-color: antiquewhite;
}

.buttonWrapper {
  button {
    padding: 4px 8px;
    float: right;
  }
}
