.container {
  display: flex;
  flex-direction: column;
  padding: 0 16px 24px;

  h2 {
    text-align: center;
  }

  label {
    margin-bottom: 12px;
  }

  input {
    margin-bottom: 24px;
    padding: 4px;
  }
}

.buttonWrapper {
  button {
    padding: 4px 8px;
    float: right;
  }
}
